@import "./Button.module.scss";

.form {
  display: block;
  margin: 3rem auto;
  width: 100%;
  max-width: 600px;
  padding: 1.5rem;
  & h1 {
    text-align: center;
  }
  & fieldset {
    border-radius: 5px;
    padding: 1.25rem;
    border: 1px solid $gray3;
    &:last-of-type{
        margin-top: 1.5rem;
    }
    & legend {
      padding: 0 0.5rem;
      font-weight: 700;      
    }
  }
  & textarea {
    height: 300px;
    resize: none;
    white-space: pre-wrap;
  }
}

.formGroup {
  margin-bottom: 1.5rem;
  & label,
  & input,
  & textarea {
    display: block;
    width: 100%;
  }
  & label {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }
  & input,
  & textarea {
    padding: 0.5rem 0.75rem;
    border: 1px solid $gray3;
    outline: none;
    border-radius: 5px;
  }
  & p {
    font-weight: 700;
    color: $red;
    font-size: 0.8rem;
  }
  & img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    object-position: center;
    margin-top: 1rem;
  }
}

.submit {
  margin-top: 2rem;
}
