.product-list {
    background-color: #e1e1e1;
}
.container {
    max-width: 1200px;
    width: 95%;
    padding: 3rem 0;
    margin: 0 auto;
}
.bg-white {
    background-color: #FFF;
}
.error{
  color: var(--red);
  font-weight: 700;
  text-align: center;
}
